# Ignore development files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.so
**/*.dylib
**/*.egg-info
**/*.egg
**/build/
**/dist/
**/node_modules/
**/venv/
**/.venv/
**/env/
**/env3*/
**/docker/
.git
.gitignore
Dockerfile
docker-compose.yml
run_docker.sh
*.md
*.toml
*.ini
Makefile
